.card-body{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  text-align: center;
}
.card{
  box-shadow: 1px 1px 20px #ccc;
  transition: 0.4s ease-in-out;
}
.card:hover{
  box-shadow: none;
}